.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 80px;
    padding-bottom: 144px;
  }
}

.about-container {
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #302d29;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 894px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}

.about-img {
  box-shadow: 0 0 16px 8px rgba(48, 45, 41, 0.3);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    border-radius: 16px;
  }
}
