.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 112px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
  }
}

.hero-subtitle {
  font-family: 'Cagliostro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #302d29;
  max-width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 24px;
    max-width: max-content;
    margin-bottom: 32px;
    order: 1;
  }
}

.hero-main-title {
  text-shadow: 1px 2px 0 rgba(107, 97, 79, 0.4);
  font-family: 'Cagliostro', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #302d29;
  margin-bottom: 48px;

  @include media(desktop) {
    margin-bottom: 32px;
    order: 2;
  }
}

.hero-img-wrapper {
  margin-bottom: 64px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 4;
  }
}

.hero-img {
  box-shadow: 0 0 16px 8px rgba(48, 45, 41, 0.3);
  border-radius: 8px;

  @include media(desktop) {
    border-radius: 16px;
  }
}

.hero-btn {
  box-shadow: 2px 2px 1px 0 rgba(90, 45, 9, 0.5);
  background: #fea924;
  border: 1px solid #7c715d;
  border-radius: 8px;
  padding: 14px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(180deg, #fea924 0%, #ddb880 100%);
  }

  @include media(desktop) {
    margin-bottom: 32px;
    order: 3;
  }
}
