<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">About the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="about-text">
          In Cursed Blocks of Puzzle Tomb, you're basically solving these stone
          block puzzles hidden within ancient Egyptian ruins. You slide the
          blocks around until they line up right, and that's how you open up new
          paths and unlock sealed chambers. As you go deeper, the tombs get
          trickier with more complicated puzzles to solve.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="1200"
          height="415" />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="343"
          height="276" />
        <img
          class="about-img"
          src="./img/about/about-bg-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="276"
      /></picture>
    </div>
  </div>
</section>
