<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">Contact</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="contact-text-wrapper">
          <p class="contact-text">Questions or suggestions?</p>
          <a href="mailto:info@widebridge.space" class="contact-email-link">
            <svg class="email-icon" width="16" height="16">
              <use href="./img/sprite.svg#icon-email"></use></svg
            ><span>info@widebridge.space</span></a
          >
        </div>
        <picture>
          <source
            srcset="./img/contact/contact-img-desk.png"
            media="(min-width: 1440px)"
            width="1200"
            height="451" />
          <source
            srcset="./img/contact/contact-img-mob.png"
            width="343"
            height="200" />
          <img
            class="contact-img"
            src="./img/contact/contact-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="200"
        /></picture>
      </div>
    </div>
  </div>
</section>
