<section class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title features-title">Key Features</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <p class="features-text">You'll know when you've made a good move.</p>
        <ul class="features-list">
          <li class="features-list-item">
            <svg class="features-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-features1"></use>
            </svg>
            <p class="features-item-text">
              Egyptian-themed puzzle environments
            </p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-features2"></use>
            </svg>
            <p class="features-item-text">
              Gets harder and trickier as you go further
            </p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-features3"></use>
            </svg>
            <p class="features-item-text">Strategic block movement mechanics</p>
          </li>
          <li class="features-list-item">
            <svg class="features-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-features4"></use>
            </svg>
            <p class="features-item-text">
              Available unique tomb chambers to unlock
            </p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="1200"
            height="603" />
          <source
            srcset="./img/features/features-img-mob.png"
            width="343"
            height="194" />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="194"
        /></picture>
      </div>
    </div>
  </div>
</section>
