<section class="gameplay-section section" id="gameplay">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title gameplay-title">How to Play</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <p class="gameplay-text">
        The key is to look at the whole puzzle before you start moving blocks
        around.
      </p>
      <div class="gameplay-swiper-container">
        <ul class="swiper-wrapper gameplay-swiper-wrapper">
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img1-mob.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
            />
            <p class="gameplay-item-text">
              Observe puzzle layout in the tomb chamber
            </p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img2-mob.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
            />
            <p class="gameplay-item-text">Move stone blocks within the grid</p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img3-mob.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
            />
            <p class="gameplay-item-text">
              Align blocks to create open pathways
            </p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img4-mob.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
            />
            <p class="gameplay-item-text">
              Avoid blocking tiles and critical routes
            </p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img5-mob.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
            />
            <p class="gameplay-item-text">
              Solve puzzle to unlock the next chamber
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
