<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <p class="hero-subtitle">Ancient puzzles guard forgotten secrets.</p>
          <h1 class="hero-main-title">
            Can you break the curse and escape the tomb?
          </h1>
          <div class="hero-img-wrapper">
            <picture>
              <source
                srcset="./img/hero/hero-bg-desk.png"
                media="(min-width: 1440px)"
                width="1200"
                height="472" />
              <source
                srcset="./img/hero/hero-bg-mob.png"
                width="343"
                height="200" />
              <img
                class="hero-img"
                src="./img/hero/hero-bg-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="200"
            /></picture>
          </div>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.day4work.egyptian.pharaoh.tomb.rocks.blocks&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="167" height="36">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
