<section class="section modes-section" id="modes">
  <div class="section-title-wrapper modes-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title modes-title">Gameplay Mechanics</h2>
    </div>
  </div>
  <div class="modes-bg-wrapper">
    <div class="container modes-container">
      <div class="modes-content-wrapper">
        <p class="modes-text">
          You'll need to think ahead and plan your moves carefully if you want
          to get anywhere.
        </p>
        <ul class="modes-list">
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img1-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="144" />
              <source
                srcset="./img/modes/modes-img1-mob.png"
                width="60"
                height="72" />
              <img
                class="modes-img"
                src="./img/modes/modes-img1-mob.png"
                alt="Screenshot of the game"
                width="60"
                height="72"
            /></picture>
            <p class="modes-item-text">Slide stone blocks across the grid</p>
          </li>
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img2-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="144" />
              <source
                srcset="./img/modes/modes-img2-mob.png"
                width="60"
                height="72" />
              <img
                class="modes-img"
                src="./img/modes/modes-img2-mob.png"
                alt="Screenshot of the game"
                width="60"
                height="72"
            /></picture>
            <p class="modes-item-text">Align blocks to open hidden passages</p>
          </li>
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img3-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="144" />
              <source
                srcset="./img/modes/modes-img3-mob.png"
                width="60"
                height="72" />
              <img
                class="modes-img"
                src="./img/modes/modes-img3-mob.png"
                alt="Screenshot of the game"
                width="60"
                height="72"
            /></picture>
            <p class="modes-item-text">Clear obstacles and locked tiles</p>
          </li>
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img4-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="144" />
              <source
                srcset="./img/modes/modes-img4-mob.png"
                width="60"
                height="72" />
              <img
                class="modes-img"
                src="./img/modes/modes-img4-mob.png"
                alt="Screenshot of the game"
                width="60"
                height="72"
            /></picture>
            <p class="modes-item-text">
              Solve puzzles that get trickier as you go
            </p>
          </li>
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img5-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="144" />
              <source
                srcset="./img/modes/modes-img5-mob.png"
                width="60"
                height="72" />
              <img
                class="modes-img"
                src="./img/modes/modes-img5-mob.png"
                alt="Screenshot of the game"
                width="60"
                height="72"
            /></picture>
            <p class="modes-item-text">Unlock new tomb chambers</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
